

<div class="card">
  <div class="card-header">
    $120 per 45 min appointment
  </div>
  <div class="card-body">
    <h5 class="card-title">In-Person Treatment</h5>
    <p class="card-text">Get personalized, face-to-face treatment with our experts.</p>
    <%= link_to "Choose Plan", new_appointment_path, class: "nav-link"%>
  </div>
</div>

<div class="card">
  <div class="card-header">
    $100 per 30-40 min appointment
  </div>
  <div class="card-body">
    <h5 class="card-title">Virtual Treatment</h5>
    <p class="card-text">Convenient, online treatment sessions from the comfort of your home.</p>
    <%= link_to "Choose Plan", new_appointment_path, class: "nav-link"%>
  </div>
</div>